html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    color: $clr-font;
    padding: 0;
    margin: 0;
    background: $clr-background;
}

body,
#side-bar,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.name {
    font-family: $serif;
}