// http://clrs.cc/ Palette
$navy: #001f3f;
$black: #111111;
$silver: #DDDDDD;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;

//#### COLORS ####
// Base
$clr-background: white;

// Menu
$clr-menu-header: #1f8dd6;
$clr-menu-header-font: #fff;
$clr-menu-background: #191818;
$clr-menu-text: $silver;
$clr-menu-focus: #333;

// Content
$clr-font: $black;
$clr-content-heading: $navy;
$clr-content-slogan: $black;
$clr-content-subheading: $navy;

//#### FONTS ####
$serif: "Roboto Slab", serif;
$sans-serif: "Open Sans", sans-serif;

//#### LAYOUT ####

// Side Bar
$side-bar-width: 10em;

// Footer
$footer-height: 2.4em;
