header {
    margin: 0;
    padding: 2.5em 2em 1em;
    color: $clr-content-heading;
    text-align: center;

    a {
        color: inherit;
        text-decoration: inherit;
    }    

    & > h1 {
        margin: 0.2em 0;
        font-size: 4em;
        font-weight: 300;
        font-family: $serif;
    }

    & > p {
        margin-top: 0;
        padding: 0;
        color: $clr-content-slogan;
        font-weight: 300;
        font-family: $sans-serif;
    }
}

section#main {
    & > article {
        position: relative;
        margin: 0 auto;
        padding: 0 2em 0;
        max-width: 1300px;
        margin-bottom: 50px;
        line-height: 1.5em;
        font-family: $sans-serif;

        & > img.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        & > h2 {
            margin: 50px 0 20px 0;
            color: $clr-content-subheading;
            font-weight: 300;
        }
    }
}

a.inline {
    color:$blue;
    &:hover {
        color:$aqua;
    }
}

.project-bg {
    // background: $silver;
    // background: rgba(255, 0, 0, 0.3);
}

.project-desc {
    overflow: auto;
    padding-bottom: 1em;
    & p {
        // background:red;
        // padding: 0 0 1em 0;
        margin: 0 0 1.2em 0;
    }
}

.project-name {
    line-height: 2px;
    // padding:0;
    // margin:0;
}

.project-group {
}

.max-height {
}

.project-unit {
    padding: 0em 1em 1em 1em;
}

@media (max-width: 46em) {
    header {
        padding: 2.5em 2em 0;
    }

    .project-desc {
        height: auto;
    }
}