@media (min-width: 48em) {
    /* moves content out of the way of side-bar.*/
    body {
        padding-left: 150px;
    }

    #side-bar {
        margin-left: 0px; /* "#menu" width */
        width: 150px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100; /* so the menu or its navicon stays above all content */
        background: #191818;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;

        .pure-menu-heading {
            background: #1f8dd6;
            font-size: 110%;
            color: #fff;
            margin: 0;
        }

        a {
            color: #999;
            border: none;
            padding: 0.6em 0 0.6em 0.6em
        }

        .pure-menu {
            border: none;
            background: transparent;

            ul {
                border: none;
                background: transparent;
            }

            li {
                a:hover,
                a:focus {
                    background: #333;
                }
            }
        }

        #social {
            position: absolute;
            bottom: 0px;
        }
    }
}