$side-bar-width: 10em;

/* moves content out of the way of side-bar.*/
body {
    padding-left: $side-bar-width;
}

.menu-link {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    color: $clr-menu-background;
    background: $clr-background;
    padding: 7px;
    //border-radius: 0 50% 50% 0;
    z-index: 50;

    &.active {
        background: $clr-menu-header;
    }
}

#side-bar {
    margin-left: 0px; /* "#menu" width */
    width: $side-bar-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100; /* so the menu or its navicon stays above all content */
    background: $clr-menu-background;
    overflow: auto;
    //-webkit-overflow-scrolling: touch;

    .profile-pic {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        border: 5px solid $clr-background;
    }        

    li>a {
        color: $clr-menu-text;
        border: none;
    }

    .pure-menu {
        width: 100%;
        border: none;
        background: inherit;

        ul {
            border: none;
            background: transparent;
        }

        li {
            font-size: 1.1em;
        }

        .pure-menu-heading {
            text-align: center;
            background: $clr-menu-header;
            font-size: 1.3em;
            color: $clr-menu-header-font;
            margin: 0;
            padding: 1em 0 1em 0;

            &>a {
                text-decoration: inherit;
                color: inherit;
            }
        }
    }

    .main-nav {
        li {
            a {
                padding: 1em 0 1em 0.6em
            }
            a:hover,
            a:focus {
                background: $clr-menu-focus;
            }
            font-size: 1.1em;
            border-bottom: 3px solid $clr-menu-text;
            &.first-item {
                border-top: 3px solid $clr-menu-text;
            }
        }
    }

    #social {
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
        z-index: -1;

        li {
            a:hover,
            a:focus {
                background: $clr-menu-focus;
            }
        }
    }
}

// Responsive

@media (max-height: 35.5em) {
    #side-bar #social {
        visibility: hidden;
    }

    .hideme {
        visibility: visible;
    }
}

@media (max-width: 46em) {
    body {
        padding-left: 0;
    }

    footer {
        position: absolute;
        margin-left: -$side-bar-width;
    }

    #side-bar {
        margin-left: -$side-bar-width;
    }

    #side-bar.active {
        margin-left: 0;
    }

    .menu-link {
        visibility: visible;
    }

    .menu-link.active {
        visibility: visible;
        left: $side-bar-width;
    }
}